<!--底部-->
<div id="footer" class="demo-nav text-center padding-big footer bg-main bg-inverse fixed">
    <div class="container">
        <div class="line">
            <div class="navbar-body nav-navicon" id="navbar-footer">
                <div class="navbar-text navbar-left hidden-s hidden-l">
                    版权所有 &copy; 
                    <a href="/" target="_blank">在线试衣间</a> 
                    All Rights Reserved
                </div>
            </div>
        </div>
    </div>
</div>
