<!-- <div class="layout padding-small-top padding-small-bottom bg-main bg-inverse fixed"> -->
<div class="demo-nav padding-small-top padding-small-bottom fixed bg-main">
    <div class="line" style="margin-left:4%;">
        <div class="xl12 xs3 xm3 xb2">
            <button class="button icon-navicon float-right" data-target="#header-demo"></button>
            <a target="_blank" href="/">
                <img src="/static/images/0.jpg" alt="logo" width="32" height="32" class="swing-hover"/>
            </a>
        </div>
        <div class=" xl12 xs9 xm9 xb10 nav-navicon" id="header-demo">
            <div class="padding-small">

                {% include "login.html" %}

            </div>
        </div>
    </div>
</div>
<br />

