{% extends "base.html" %}

{% block content %}
<!--滚动屏-->
<div class="banner" data-style="border-blue">
    <div class="carousel">
        <div class="item" align=center><img src="/static/images/banner1.jpg" width="60%" /></div>  <!--align=center 图片居中对齐-->
        <div class="item" align=center><img src="/static/images/banner2.jpg" width="45%" /></div>  <!--width可改图片宽度-->
        <div class="item" align=center><img src="/static/images/banner3.jpg" width="30%" /></div>  <!--src=图片路径-->
    </div>
</div>
<br />

<!--内容-->
<!--此处需要预览图片，插入缩略图-->
<div class="container">
    <div class="line-big">
        <div class="xl12 xm8 bg">
            <div class="line-middle">
                <h2 class="layout bg-main text-white padding"> 热门推荐</h2>
                <br />
                <div class="xl12 xs6 xm4 xb3 bg">
                    <div class="media padding-bottom clearfix">
                        <a href="#"><img src="/static/images/0.jpg" class="radius img-responsive" alt="..."></a>
                        <div class="media-body">
                            <strong>戳我~~~~</strong>
                        </div>
                    </div>
                </div>
                <div class="xl12 xs6 xm4 xb3 bg">
                    <div class="media padding-bottom clearfix">
                        <a href="#"><img src="/static/images/0.jpg" class="radius img-responsive" alt="..."></a>
                        <div class="media-body">
                            <strong>戳我~~~~</strong>
                        </div>
                    </div>
                </div>
                <div class="xl12 xs6 xm4 xb3 bg">
                    <div class="media padding-bottom clearfix">
                        <a href="#"><img src="/static/images/0.jpg" class="radius img-responsive" alt="..."></a>
                        <div class="media-body">
                            <strong>戳我~~~~</strong>
                        </div>
                    </div>
                </div>
                <div class="xl12 xs6 xm4 xb3 bg">
                    <div class="media padding-bottom clearfix">
                        <a href="#"><img src="/static/images/0.jpg" class="radius img-responsive" alt="..."></a>
                        <div class="media-body">
                            <strong>戳我~~~~</strong>
                            戳我~
                        </div>
                    </div>
                </div>
                <div class="xl12 xs6 xm4 xb3">
                    <div class="media padding-bottom clearfix">
                        <a href="#"><img src="images/0.jpg" class="radius img-responsive" alt="..."></a>
                        <div class="media-body">
                            <strong>戳我~~~~</strong>
                        </div>
                    </div>
                </div>
                <div class="xl12 xs6 xm4 xb3">
                    <div class="media padding-bottom clearfix">
                        <a href="#"><img src="images/0.jpg" class="radius img-responsive" alt="..."></a>
                        <div class="media-body">
                            <strong>戳我~~~~</strong>
                        </div>
                    </div>
                </div>
                <div class="xl12 xs6 xm4 xb3 bg">
                    <div class="media padding-bottom clearfix">
                        <a href="#"><img src="images/0.jpg" class="radius img-responsive" alt="..."></a>
                        <div class="media-body">
                            <strong>戳我~~~~~</strong>
                        </div>
                    </div>
                </div>
                <div class="xl12 xs6 xm4 xb3 bg">
                    <div class="media padding-bottom clearfix">
                        <a href="#"><img src="images/0.jpg" class="radius img-responsive" alt="..."></a>
                        <div class="media-body">
                            <strong>戳我~~~~</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="xl12 xm4">
            <h2 class="bg-main text-white padding">最新分享</h2>
            <div class="padding-big bg">
                xxx分享了xxx<br />
                xxx分享了xxx<br />
                xxx分享了xxx<br />
                xxx分享了xxx<br />
                xxx分享了xxx<br />
            </div>
            <br />
        </div>
    </div>
</div>
<br /><br />
{% endblock %}
