{% extends "registerbase.html" %}

{% block step1 %}
active
{% endblock %}

{% block step2 %}
{% endblock %}

{% block step3 %}
{% endblock %}

{% block regcontent %}
<div class="container">
    <div class="xl12 xm4 x4-left bg" style="border-radius:10px;">
        <br />
        <form method="post" class="form-x" action="/register">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <div class="label">
                    <label for="id_{{ field.name }}">{{ field.label }}</label>
                </div>
                <div class="field">
                    {{ field }}
                <span>{{ field.errors }}</span>
                </div> 
            </div>
            {% endfor %}

            <div class="form-group">
                <div class="label" style="width:25%;"><strong></strong></div>
                <div class="field" style="width:75%;">
                    <label><input name="pintuer" type="checkbox">已阅读并接受用户协议</label>
                </div>
            </div>

            <div class="form-group">
                <div class="form-button" style="margin-left:25%;">
                    <input type="submit" name="buyer" value="我是买家">
                    <input type="submit" name="seller" value="我是卖家">
                </div>
            </div>

        </form>
        <br />
    </div>
</div>
<br />
{% endblock %}
