{{ extends "registerbase.html" }}

{% block step1 %}
complete
{% endblock %}

{% block step2 %}
active
{% endblock %}

{% block step3 %}
{% endblock %}

{% block regcontent %}
<div class="container">
    <div class="xl12 xm6 x3-left bg" style="border-radius:10px;">
        <br />

        <form method="post" class="form-x" enctype="multipart/form-data" action="/register/seller">	  
            {% csrf_token %}

            {% for field in form %}
            <div class="form-group">
                <div class="label">
                    <label for="username">{{ field.label }}</label>
                </div>
                <div class="field">
                    {{ field }}
                    <span>{{ field.errors }}</span>
                </div> 
            </div>
            {% endfor %}

            <div class="form-group">
                <div class="label"><strong></strong></div>
                <div class="button-group">
                    <button type="reset" class="button"><span class="icon-trash-o text-red"></span> 清空</button>			
                    <button type="submit" class="button"><span class="icon-check text-blue"></span> 提交</button>
                </div>
            </div>

        </form>

        <br />
    </div>
</div>

<br />
{% endblock %}
