{% extends "profilebase.html" %}

{% block modifyprofile %}

<!-- 卖家修改个人资料 -->
<div id="mydialog2">
    <div class="dialog">
        <div class="dialog-head">
            <span class="close rotate-hover"></span> 
            <strong>修改资料</strong> 
        </div>
        <div class="dialog-body">
            <form method="post" class="form form-block" enctype="multipart/form-data" action="/profile/modify/seller">
                {% csrf_token %}
                <div class="line-small">
                    {% for field in modify_seller_profile_form %}
                    <div class="x4">
                        <div class="form-group">
                            <div class="label" style="margin-right: 5px;">
                                <label for="id_{{ field.name }}">
                                    {{ field.label }}
                                </label>
                            </div>
                            <div class="field">
                                {{ field }}
                                <span>{{ field.errors }}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <div class="form-button" style="margin-left:30%;">
                        <div class="button dialog-close">取消</div>
                        <input class="button bg-green" type="submit" value="确认"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block profilecontent %}

<!--内容-->
<div class="container">
    <div class="line-big">
        <div class="xl12 bg" align="center">
            <div class="line-middle">
                <span class="layout bg-main text-white padding" align="center">
                    <h2>我的商品</h2>
                    {% include "addcontent.html" %}
                </span>
            </div>
                <h3 >商品1</h3>

                <div class="xl12 xs6 xm4 xb3 bg">
                    <div class="media padding-bottom clearfix">
                        <a href="#">
                            <img src="/static/images/00.jpg" class="radius img-responsive" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <strong>
                            戳我~~~~
                        </strong>
                    </div>
                </div>
                <div class="xl12 xs6 xm4 xb3 bg">
                    <div class="media padding-bottom clearfix"> <a href="#"><img src="/static/images/01.jpg" class="radius img-responsive" alt="..."></a>
                        <div class="media-body"> <strong>戳我~~~~</strong> </div>
                    </div>
                </div>
                <div class="xl12 xs6 xm4 xb3 bg">
                    <div class="media padding-bottom clearfix"> <a href="#"><img src="/static/images/02.jpg" class="radius img-responsive" alt="..."></a>
                        <div class="media-body"> <strong>戳我~~~~</strong> </div>
                    </div>
                </div>
                <div class="xl12 xs6 xm4 xb3 bg">
                    <div class="media padding-bottom clearfix"> <a href="#"><img src="/static/images/03.jpg" class="radius img-responsive" alt="..."></a>
                        <div class="media-body"> <strong>戳我~~~~</strong>  </div>
                    </div>
                </div>
                <button class="button bg-sub radius-rounded"><a href="#">添加模特</a></button>

                <br /><br /><br />
                <h3>商品2</h3>
                <div class="xl12 xs6 xm4 xb3">
                    <div class="media padding-bottom clearfix"> <a href="#"><img src="/static/images/10.jpg" class="radius img-responsive" alt="..."></a>
                        <div class="media-body"> <strong>戳我~~~~</strong> </div>
                    </div>
                </div>
                <div class="xl12 xs6 xm4 xb3">
                    <div class="media padding-bottom clearfix"> <a href="#"><img src="/static/images/11.jpg" class="radius img-responsive" alt="..."></a>
                        <div class="media-body"> <strong>戳我~~~~</strong> </div>
                    </div>
                </div>
                <div class="xl12 xs6 xm4 xb3 bg">
                    <div class="media padding-bottom clearfix"> <a href="#"><img src="/static/images/12.jpg" class="radius img-responsive" alt="..."></a>
                        <div class="media-body"> <strong>戳我~~~~~</strong> </div>
                    </div>
                </div>
                <div class="xl12 xs6 xm4 xb3 bg">
                    <div class="media padding-bottom clearfix"> <a href="#"><img src="/static/images/13.jpg" class="radius img-responsive" alt="..."></a>
                        <div class="media-body"> <strong>戳我~~~~</strong> </div>
                    </div>
                </div>
                <button class="button bg-sub radius-rounded"><a href="#">添加模特</a></button>
            </div>
            <br /><br /><br />
        </div>
    </div>
</div>

{% endblock %}
