{% extends "profilebase.html" %}

{% block modifyprofile %}

<!-- 买家修改个人资料 -->
<div id="mydialog2">
    <div class="dialog">
        <div class="dialog-head">
            <span class="close rotate-hover"></span> 
            <strong>修改资料</strong> 
        </div>
        <div class="dialog-body" >
            <form method="post" class="form form-block" enctype="multipart/form-data" action="/profile/modify/seller">
                {% csrf_token %}
                {% for field in modify_seller_profile_form %}
                    <div class="form-group">
                        <div class="label">
                            <label for="id_{{ field.name }}">
                                {{ field.label }}
                            </label>
                        </div>
                        <div class="field">
                            {{ field }}
                            <span>{{ field.errors }}</span>
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <div class="form-button" style="margin-left:30%;">
                        <div class="button dialog-close" type="reset">取消</div>
                        <div class="button bg-green" type="submit">确认</div>
                    </div>
                </div>
            </form>
        </div>


{% endblock %}

{% block profilecontent %}

<!--内容-->
<div class="container" style="margin-left:18%" >
    <div class="line-big">
        <div class="xl12 xm8 bg">
            <div class="line-middle">
                <h2 class="layout bg-main text-white padding"> 我的商品：</h2>
                <br />
                <h3 >商品1</h3>

                <div class="xl12 xs6 xm4 xb3 bg">
                    <div class="media padding-bottom clearfix"> <a href="#"><img src="/static/images/00.jpg" class="radius img-responsive" alt="..."></a>

                        <div class="media-body"> <strong>戳我~~~~</strong> </div>
                    </div>
                </div>
                <div class="xl12 xs6 xm4 xb3 bg">
                    <div class="media padding-bottom clearfix"> <a href="#"><img src="/static/images/01.jpg" class="radius img-responsive" alt="..."></a>
                        <div class="media-body"> <strong>戳我~~~~</strong> </div>
                    </div>
                </div>
                <div class="xl12 xs6 xm4 xb3 bg">
                    <div class="media padding-bottom clearfix"> <a href="#"><img src="/static/images/02.jpg" class="radius img-responsive" alt="..."></a>
                        <div class="media-body"> <strong>戳我~~~~</strong> </div>
                    </div>
                </div>
                <div class="xl12 xs6 xm4 xb3 bg">
                    <div class="media padding-bottom clearfix"> <a href="#"><img src="/static/images/03.jpg" class="radius img-responsive" alt="..."></a>
                        <div class="media-body"> <strong>戳我~~~~</strong>  </div>
                    </div>
                </div>
                <button class="button bg-sub radius-rounded"><a href="#">添加模特</a></button>

                <br /><br /><br />
                <h3>商品2</h3>
                <div class="xl12 xs6 xm4 xb3">
                    <div class="media padding-bottom clearfix"> <a href="#"><img src="/static/images/10.jpg" class="radius img-responsive" alt="..."></a>
                        <div class="media-body"> <strong>戳我~~~~</strong> </div>
                    </div>
                </div>
                <div class="xl12 xs6 xm4 xb3">
                    <div class="media padding-bottom clearfix"> <a href="#"><img src="/static/images/11.jpg" class="radius img-responsive" alt="..."></a>
                        <div class="media-body"> <strong>戳我~~~~</strong> </div>
                    </div>
                </div>
                <div class="xl12 xs6 xm4 xb3 bg">
                    <div class="media padding-bottom clearfix"> <a href="#"><img src="/static/images/12.jpg" class="radius img-responsive" alt="..."></a>
                        <div class="media-body"> <strong>戳我~~~~~</strong> </div>
                    </div>
                </div>
                <div class="xl12 xs6 xm4 xb3 bg">
                    <div class="media padding-bottom clearfix"> <a href="#"><img src="/static/images/13.jpg" class="radius img-responsive" alt="..."></a>
                        <div class="media-body"> <strong>戳我~~~~</strong> </div>
                    </div>
                </div>
                <button class="button bg-sub radius-rounded"><a href="#">添加模特</a></button>
            </div>
            <br /><br /><br />

            <div align="center"><button class="button bg-sub radius-rounded"><a href="#">添加商品</a></button></div>

        </div>

    </div>
</div>
<br />
<br />

{% endblock %}
