<!--*****************删除 提交内容？ 代码主要下面2段，加上上面的js函数定义****************************-->       
        <div id="deletedialog">
            <div class="dialog" >
                <div class="dialog-body">
                    这么任性？确定删除？
                    <div class="button dialog-close" type="reset">取消</button></div><span>
                    <div class="button bg-green-light" type="submit"><a href="">就是任性</button></div></span>      
                </div>
            </div>
        </div>
        
        <div class="xl12 xs6 xm4 xb3 bg">
            <div class="media clearfix"> 
                <a href="#" onmouseover=show("deleting0"); onmouseout=hide("deleting0");>
                    <img src="/static/images/00.jpg" class="radius img-responsive" >
                </a>
                <div id="deleting0" style="z-index:1; position: absolute; top:0; right:5px; display:none;">
                    <a class="text-black dialogs close" data-toggle="click" data-target="#deletedialog" data-mask="1" data-width="40%"></a>
                </div>
            </div>
        </div>
<!--**********************************一个删除模特模块结 下面重复*************************************-->
        
 
        <div class="xl12 xs6 xm4 xb3 bg">
            <div class="media clearfix"> 
                <a href="#" onmouseover=show("deleting1"); onmouseout=hide("deleting1");>
                    <img src="/static/images/01.jpg" class="radius img-responsive" alt="...">
                </a>
                <div id="deleting1" style="z-index:1; position: absolute; top:0; right:5px; display:none;">
                    <a class="text-black dialogs close" data-toggle="click" data-target="#deletedialog" data-mask="1" data-width="40%"></a>
                </div>
            </div>
        </div>
        
        <div class="xl12 xs6 xm4 xb3 bg">
          <div class="media clearfix"> 
            <a href="#" onmouseover=show("deleting2"); onmouseout=hide("deleting2");>
                <img src="/static/images/02.jpg" class="radius img-responsive" alt="...">
            </a>
                <div id="deleting2" style="z-index:1; position: absolute; top:0; right:5px; display:none;">
                    <a class="text-black dialogs close" data-toggle="click" data-target="#deletedialog" data-mask="1" data-width="40%"></a>
                </div>
          </div>
        </div>

<!--*******************************添加模特**********************************-->            
        <div class="xl12 xs6 xm4 xb3 bg">
          <div class="media clearfix">
            <a class="dialogs" data-toggle="click" data-target="#addmodel-dialog" data-mask="1" data-width="60%">
                <img src="/static/images/addmodel.jpg" class="radius img-responsive" alt="...">
            </a>
          </div>
        </div>
      </div>
  </div>

      <!-- <div id="addmodel-dialog"> -->
        <!-- <div class="dialog"> -->
            <!-- <div class="dialog-head"><span class="close rotate-hover"></span> <strong>添加模特</strong> </div> -->
            <!-- <div class="dialog-body"> -->
                <!-- <form method="post" class="form-inline"> -->
                    <!-- <table class="table table-condensed"> -->
                        <!-- <tr><td> -->
                        <!-- <div class="field"> -->
                            <!-- <div class="input-group"> -->
                                <!-- <span class="addon">身高</span> -->
                                <!-- <input type="text" class="input" id="height" name="height" size="5" placeholder="身高" /> -->
                                <!-- <span class="addon">cm</span> -->
                            <!-- </div> -->
                        <!-- </div></td><td> -->
                        <!-- <div class="field"> -->
                            <!-- <div class="input-group"> -->
                                <!-- <span class="addon">体重</span> -->
                                <!-- <input type="text" class="input" id="weight" name="weight" size="5" placeholder="体重" /> -->
                                <!-- <span class="addon">kg</span> -->
                            <!-- </div> -->
                        <!-- </div></td></tr><tr><td> -->
                        <!-- <div class="field"> -->
                            <!-- <div class="input-group"> -->
                                <!-- <span class="addon">胸围</span> -->
                                <!-- <input type="text" class="input" id="bust" name="bust" size="5" placeholder="胸围" /> -->
                                <!-- <span class="addon">cm</span> -->
                            <!-- </div> -->
                        <!-- </div></td><td> -->
                        <!-- <div class="field"> -->
                            <!-- <div class="input-group"> -->
                                <!-- <span class="addon">腰围</span> -->
                                <!-- <input type="text" class="input" id="waistline" name="waistline" size="5" placeholder="腰围" /> -->
                                <!-- <span class="addon">cm</span> -->
                            <!-- </div> -->
                        <!-- </div></td></tr><tr><td> -->
                        <!-- <div class="field"> -->
                            <!-- <div class="input-group"> -->
                                <!-- <span class="addon">臀围</span> -->
                                <!-- <input type="text" class="input" id="hip" name="hip" size="5" placeholder="臀围" /> -->
                                <!-- <span class="addon">cm</span> -->
                            <!-- </div> -->
                        <!-- </div></td><td> -->
                        <!-- <div class="field"> -->
                            <!-- <div class="input-group"> -->
                                <!-- <span class="addon">臂长</span> -->
                                <!-- <input type="text" class="input" id="arm" name="arm" size="5" placeholder="臂长" /> -->
                                <!-- <span class="addon">cm</span> -->
                            <!-- </div> -->
                        <!-- </div></td></tr> -->
                        <!-- <div class="field"> -->
                            <!-- <a class="button input-file" href="javascript:void(0);">+ 上传模特图片 -->
                                <!-- <input size="100" type="file" /> -->
                            <!-- </a> -->
                        <!-- </div>                       -->
                    <!-- </table> -->
                    <!-- <br> -->
                    <!-- <div class="form-group"> -->
                        <!-- <div class="form-button" style="margin-left:30%;"> -->
                            <!-- <div class="button dialog-close" type="reset">取消</button></div><span> -->
                            <!-- <div class="button bg-green" type="submit"><a href="">确认</button></div></span> -->
                        <!-- </div> -->
                    <!-- </div> -->
                <!-- </form> -->
            <!-- </div> -->
        <!-- </div> -->
<!--*******************************添加模特 表单结束**********************************-->

